<notification *ngIf="errorOccured"></notification>
<section class="art-all">
    <section class="art-object" *ngFor = "let art of artObjects">
        <header>
          <a href="{{ art.links.web }}" target="_blank">
            <img [src]="art.webImage.url" />
          </a>
        </header>
        <footer>
            <h3>{{ art.longTitle }}</h3>
            <p>{{ art.principalOrFirstMaker }}{{ art.artistWithDate }}</p>
        </footer>
      </section>
</section>