body { 
    background: #fff!important;
}
header h1 a.back-nav {
    display: inline-block;
}

.art-all {
    padding: 2%;
    column-gap: 2%;
    -webkit-column-count: 4;
    column-count: 4;
}

.art-object {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.art-object img {
    max-width: 100%;
    height: auto;
    display: block;
}

.art-object h3 { 
    padding: 10px 0 5px;
    color: #000;
    font-size: 20px;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
}

.art-object p{ 
    font-size: 14px;
    color: #cccccc
}

@media only screen and (min-width: 768px) {  /* desktops*/
    .art-all {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 600px) { /* tablets*/
    .art-all {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 300px) and (max-width: 599px) { /*smaller devices*/
    .art-all {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}