<section class="events-calendar">
    <section class="events-date-nav">
        <div class="events-inside-cont">
            <label>{{firstDate | date:'MMMM dd yyyy'}} - {{lastDate | date:'MMMM dd yyyy'}}</label>
            <button (click)="previousAgenda()" [ngClass]="{'disable' : disableDateBtns}" [disabled]="disableDateBtns" class="event-nav-btns m-l-10"><</button>
            <button (click)="nextAgenda()" class="event-nav-btns">></button>
            <a href="/events" class="list-view">{{'label:listView' | translate}}</a>
        </div>
    </section>
    <section class="events-chart">
        <div class="events-inside-cont">
            <svg width="500" height="500"></svg>
        </div>
    </section>
</section>

