body { 
  background: #fff!important;
}

* {color: #000;}
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
.focus circle {
  fill: none;
  stroke: steelblue;
}

g.tick {color: #000;}

path {
	fill: none;
	stroke: #999;
}
circle {
	fill: none;
	stroke: #aaa;
}

.line-path {
    fill: none; 
    stroke: #000;
}

.axis-label {
  font-size: 15px;
}