<notification *ngIf="errorOccured"></notification>
<section class="events-calendar" *ngIf="!errorOccured">
    <section class="events-date-nav">
        <div class="events-inside-cont">
            <label>{{currentDate | date:'EEEE, MMMM dd, yyyy'}}</label>
            <button (click)="previousAgenda()" [ngClass]="{'disable' : disableDateBtns}" [disabled]="disableDateBtns" class="event-nav-btns m-l-10"><</button>
            <button (click)="nextAgenda()" class="event-nav-btns">></button>
            <a href="/chart" class="chart-view">{{'label:chartView' | translate}}</a>
        </div>
    </section>
    <section class="events-information">
        <div class="events-inside-cont">
          <div *ngFor="let event of events" class="event-individual">
            <div class="event-time float-left">
                <h2>{{ event.period.text }}</h2>
            </div>
            
            <div class="event-details float-left">
                <h2>{{ event.exposition.name }}</h2>
                <p>{{'label:available' | translate}}:
                  <span class="float-right m-r-45">
                      <label [ngClass]="{'line-through': event.period.remaining === 0}">{{ event.period.remaining }} of {{ event.period.maximum }}</label>
                      <label *ngIf="event.period.remaining === 0" class="sold">Sold</label>
                  </span>
                </p>
                <p>{{'label:approp' | translate}}: <span class="float-right m-r-45">{{ event.groupType.friendlyName }}</span></p>
                <p>{{'label:lang' | translate}}: <span class="float-right m-r-45">{{ event.lang === 'en' ? 'English' : 'Dutch' }}</span></p>
            </div>
          </div>
        </div>
    </section>    
</section>