html {background: #fff!important}
header h1 a.back-nav {
    display: inline-block;
}
.event-individual {
    display: block;
    width: 100%;
    float: left;
    padding: 2% 0;
    border-bottom: 1px solid #ccc
}

.event-individual:last-child {border: none;}

.event-individual .event-time {
    padding-right: 5%
}

.event-individual h2 {
    font-size: 16px;
}

.event-details p { 
    color: #ababab; 
    font-size: 12px;
    padding: 5px 0
}

.event-details .line-through { text-decoration: line-through; margin-right: 5px;}
.event-details .sold { color: #da215b; font-weight: bold; }