header h1{
    text-transform: uppercase;
    font-weight: 100;
    background-color: #000;
    text-align: center;
    padding: 8px;
    letter-spacing: 5px;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

header h1 a.back-nav {
    color: #fff;
    float: left;
    font-family: monospace;
}

header h1 .switch-lang {
    font-size: 14px;
    margin-top: 10px;
}
header h1 .switch-lang a:hover {
    text-decoration: underline; 
    cursor: pointer; 
}