<header>
    <h1>
        <a href="/" class="back-nav">&#60;</a>
        <a href="/" class="page-title">{{'title' | translate}}</a>

        <span class="switch-lang float-right">
            <a (click)="switchLang('en')">EN</a> | 
            <a (click)="switchLang('nl')">NL</a>
        </span>
    </h1>
</header>
<router-outlet></router-outlet>