<section class="nav-bar">
    <h2>{{'label:welcome' | translate}}</h2>
    
    <ul class="nav-bar-list">
      <li>
        <a routerLink="/events">{{'label:viewEvents' | translate}}</a>
      </li>
      <li>
        <a routerLink="/collections">{{'label:collections' | translate}}</a>
      </li>
    </ul>
    
</section>