header h1 a.back-nav {
    display: none
}

section.nav-bar {
    margin: 10% 0 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    height: 180px;
    padding: 50px 0;
    position: absolute;
    width: 100%;
    margin-left: -50%;
    margin-top: -140px;
    left: 50%;
    top: 50%;
} 

section.nav-bar h2 {
    font-weight: 600;
    font-size: 3rem       
}

section.nav-bar ul li {
    text-align: center;
    list-style: none;
}
section.nav-bar ul li a {
    color: #fff;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    min-width: 110px;
    text-align: center;
    margin: 10px;
    font-size: 13px;
}
