* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 15px;
    background: url('./assets/images/homepage-bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}
a {text-decoration: none}

/*COMMON CSS**/
.float-left {float: left;}
.float-right {float: right;}
.m-l-5 {margin-left: 5px!important;}
.m-l-10 {margin-left: 10px!important;}
.m-l-15 {margin-left: 15px!important;}
.m-l-20 {margin-left: 20px!important;}
.m-l-25 {margin-left: 25px!important;}

.m-r-5 {margin-right: 5px!important;}
.m-r-10 {margin-right: 10px!important;}
.m-r-15 {margin-right: 15px!important;}
.m-r-20 {margin-right: 20px!important;}
.m-r-25 {margin-right: 25px!important;}
.m-r-45 {margin-right: 45px!important;}

.events-calendar {
    width: 100%; 
}

.events-inside-cont {
    max-width: 60%;
    margin: auto;
}

.events-date-nav {
    background: #698CC4;
    padding: 8px;
    font-size: 18px;
}

.events-date-nav label {
    min-width: 200px;
    display: inline-block;
    color: #fff;
}
.events-date-nav .event-nav-btns {
    background: #455E87;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #455E87;
    padding: 5px 10px;
    margin: 0 1px;
    cursor: pointer;
}
.events-date-nav .event-nav-btns.disable {
    border: 1px solid #b7b7b7;
    color: #fdfdfd;
    background: #b7b7b7;
    cursor: default;
}
.events-information {
    color: #000;
}

.chart-view, .list-view {
    color: #fff;
    background: #22a940;
    padding: 8px;
    font-size: 12px;
    float: right;
}


@media only screen and (min-width: 300px) and (max-width: 599px) { /*smaller devices*/ 
    .events-inside-cont {
        max-width: 90%!important;
    }
    .event-individual h2 {
        padding: 2% 0;
    }
}
